<section class="grid">
  <div class="col-12">
    <h3><span class="heading">Education</span></h3>
  </div>
  {% for post in site.data.education %}
    <div class="col-12 flex flex-column md:flex-row">
      <div class="date-column">{{ post.from }} - {{ post.to }}</div>
      <div class="flex flex-column flex-grow-1">
        <div class="flex flex-column md:flex-row font-bold">
          <div class="flex-grow-1">{{ post.title }}</div>
          <div><small>{{ post.institution }}</small></div>
        </div>
        <div>{{ post.content }}</div>
      </div>
    </div>
  {% endfor %}
</section>
