<section class="grid">
  <div class="col-12">
    <h3><span class="heading">Experience</span></h3>
  </div>
  {% for post in site.data.experience %}
    <div class="avoid-break col-12 flex flex-column md:flex-row">
      <div class="date-column flex-column">
        <div>{{ post.from }} - {{ post.to }}</div>
        <div><small>{{ post.note }}</small></div>
      </div>
      <div class="flex flex-column flex-grow-1">
        <div class="flex flex-column md:flex-row font-bold">
          {{ post.title }}&nbsp;@&nbsp;<a href="{{ post.employer.url }}">{{ post.employer.name }}</a>
        </div>
        <div>{{ post.content }}</div>
        <div class="tag-line">{{ post.tags | join: " / " }}</div>
      </div>
    </div>
  {% endfor %}
</section>
