<section class="grid">
  <div class="col-12 md:col-3">
    <h3><span class="heading">Languages</span></h3>
      <div><span class="font-bold">German</span> 1st mother tongue</div>
      <div><span class="font-bold">Italian</span> 2nd mother tongue</div>
      <div><span class="font-bold">English</span> fluent</div>
  </div>
  <div class="col-12 md:col-3">
    <h3><span class="heading">Hobbies</span></h3>
    <div>3D printing</div>
    <div>DIY</div>
    <div>Volleyball</div>
  </div>
  <div class="col-12 md:col-6">
    <h3><span class="heading">Open-source contributions</span></h3>
    <div>
      Quarkus:
      <a href="https://github.com/quarkusio/quarkus/pull/23086" target="_blank">PR#23086</a>,
      <a href="https://github.com/quarkusio/quarkus/pull/11403" target="_blank">PR#11403</a>,
      <a href="https://github.com/quarkusio/quarkus/pull/2849" target="_blank">PR#2849</a>
    </div>
    <div>
      DeltaSpike:
      <a href="https://github.com/apache/deltaspike/pull/93" target="_blank">PR#93</a>,
      <a href="https://github.com/apache/deltaspike/pull/86" target="_blank">PR#86</a>,
      <a href="https://github.com/apache/deltaspike/pull/84" target="_blank">PR#84</a>
    </div>
    <div>
      RestEasy:
      <a href="https://github.com/resteasy/resteasy/pull/1718" target="_blank">PR#1718</a>
    </div>
    <div>
      PrimeFaces:
      <a href="https://github.com/primefaces/primefaces/pull/2387" target="_blank">PR#2387</a>,
      <a href="https://github.com/primefaces/primefaces/issues/2370" target="_blank">Issue#2370</a>
    </div>
  </div>
</section>
