<section class="grid">
  <div class="col-12">
    <h3><span class="heading">Who am I?</span></h3>
  </div>
  <div class="col-12 md:col-6">
    <p>
      Full stack developer by day.
    </p>
    <p>
      Technology enthusiast (most recently some Kubernetes, Svelte and Rust) by night... and in my spare time.
    </p>
    <p>
      I believe in the principles of Free Software. I also deeply care about privacy, which is
      why I run my own home-server with Nextcloud and Gitea; deployed and maintained via Ansible playbooks.
    </p>
      Finally, I also have Kubernetes setup on Oracle Free Tier. Infrastructure is managed with Terraform, ArgoCD, Argo
      Events and Renovate. Add a little CertManager and custom Kuberentes Operators.
    <p>
    </p>
    <p>
      Even though the backend is my strong suite, I love to learn and tinker with new things. Hence, I have experience
      at all levels: from Kubernetes all the way to the frontend.
    </p>
  </div>
  <div class="col-12 md:col-6">
    {% for skill in site.data.skill_bars %}
      <div class="flex flex-row p-1">
        <div class="skill-bar-label"><span>{{ skill.name }}</span></div>
        <div class="flex-grow-1">
          <div class="skill-bar skill-{{ skill.level }}"></div>
        </div>
      </div>
    {% endfor %}
    <div class="grid mt-3">
      {% for skill in site.data.skill_circles %}
      <div class="col-2 flex flex-column p-0">
        <div class="skill-circle skill-{{ skill.level }}"></div>
        <div class="text-center skill-circle-label">{{ skill.name }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
