---
---
*
    font-family: sans-serif
    color: black

body
    max-width: 992px
    margin: auto

p
    margin-top: 0

.subtitle
    font-size: 1.5rem

.contact-icon
    height: 1.5em
    width: 1.5em
    margin-right: 6px

.date-column
    min-width: 150px

.tag-line
    font-family: monospace
    font-weight: 700
    font-size: 0.8rem

.heading
    background-color: black
    color: white
    padding-left: 6px
    padding-right: 6px
    margin-left: -.5rem
    text-transform: uppercase

.skill-bar-label
    min-width: 100px
    text-align: right
    margin-right: 6px

.skill-bar-label > span
    background-color: black
    color: white
    padding: 3px 6px

.skill-bar
    background-color: black
    height: 1em
    margin-top: 3px

$bars: (100, 90, 80, 70, 60, 20)
@each $bar in $bars
    .skill-bar.skill-#{$bar}
        width: percentage($bar / 100)

.skill-circle
    border-radius: 50%
    background-color: black
    margin: auto

.skill-circle-label
    @extend .tag-line
    height: 2rem
    overflow: clip
    font-size: 10px

$circles: (3, 4, 5, 6)
@each $circle in $circles
    .skill-circle.skill-#{$circle}
        width: $circle * 8px
        height: $circle * 8px


@media screen and (min-width: 768px)
    .skill-circle-label
        font-size: 12px

@media print
    *
        color-adjust: exact
        -webkit-print-color-adjust: exact
        print-color-adjust: exact

    @page
        margin: 0

    h1,
    h3
        margin: 0

    body
        font-size: 14px
        margin: 1cm

//
// From PrimeFlex
//

.text-center
    text-align: center

.font-bold
    font-weight: 700

.flex
    display: flex

.flex-grow-1
    flex-grow: 1

.flex-row
    flex-direction: row

.flex-column
    flex-direction: column

.grid
    display: flex
    flex-wrap: wrap

$dividers: (2, 12)
@each $divider in $dividers
    .col-#{$divider}
        box-sizing: border-box
        flex: 0 0 auto
        padding: .5rem
        width: percentage($divider / 12)

.p-1
    padding: 0.25rem

.mt-3
    margin-top: 1rem

@media screen and (min-width: 768px)
    $directions: (row, column)
    @each $direction in $directions
        .md\:flex-#{$direction}
            flex-direction: $direction

    $dividers: (3, 5, 6, 7)
    @each $divider in $dividers
        .md\:col-#{$divider}
            width: percentage($divider / 12)

@media print
    $directions: (row, column)
    @each $direction in $directions
        .md\:flex-#{$direction}
            flex-direction: $direction

    $dividers: (3, 5, 6, 7)
    @each $divider in $dividers
        .md\:col-#{$divider}
            width: percentage($divider / 12)
